.leaflet-container {
    width: 90%;
    height: 500px;
}

.map_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    color: #004d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}